.homeContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  .userLink{
    display: flex;
    position: absolute;
    top: 550%; left: 55%; 
    transform: translate(-50%, -50%);
    color:$color-7; 
    .avatar{
      background-color: $color-9;
      color:$color-7;
      margin:6vw;
      border-radius: 25px;
      h3{
        margin: 0;
        padding:6vw;
        font-size: 2vw;
      }
    }
  
    .color1{
      background-color: $color-1;
      color:$color-9;
    }
  }
  .apiLink{
    display: flex;
    position: absolute;
    top: 300%; left: 55%; 
    transform: translate(-50%, -50%);
    color:$color-7; 
    .fetchApi{
      display: flex;
      justify-content: center;
      background-color: $color-9;
      color:$color-7;
      
      h3{
        margin: 0;
        padding:1vw;
        font-size: 1vw;
        border-style: none;
      }
      h2{
        margin: 0;
        padding:1vw;
        font-size: 1vw;
        color:black;
        background-color: white;
        border-style: none;
        

      }
    }
  }
}



