.profilContainer{
  width: 100vw;
  height: 100vh;
  .dashboard{
    display:flex;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    height: 83vh;
    padding-left:14vw;
    padding-right:6vw;
    padding-top:4vw;
  }
  .section{
    display:flex;
    height:100%;
    .stats{
      display: flex;
      flex-direction: column;
      width: 75%;
      height: 90%;
      
      .charts{
        display:flex;
        height:60%;
        width:100%;
        margin-top:3%;
        justify-content:space-between;
        position :relative;
      }
    }
  }
}




